* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "helvetica";
}

input:focus-visible {
  outline: 0;
}

.main {
  background-color: #e0aa58;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  min-width: 375px;
  padding: 15px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
  background: #df9c32;
  border-radius: 2px;
  margin-top: 20px;
}

#pass-box {
  width: 100%;
  display: block;
  background-color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 4px;
}

.row {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  color: black;
  font-size: 18px;
}

.up {
  margin-top: 25px;
}

label {
  user-select: none;
}

#btn {
  width: 100%;
  font-size: 20px;
  outline: 0;
  border: 0;
  padding: 10px;
  background-color: #b46d0f;
  color: black;
  margin-top: 25px;
  border-radius: 5px;
}

#btn:hover {
  background-color: #c88f3e;
  box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}
